.git
.gitignore
docker-compose*.yml
Dockerfile*
README.md
LICENSE
node_modules
vendor
src/node_modules
src/vendor
src/.env
src/storage/logs
src/.env
tests
.github
.idea
.vscode
*.md
!src/README.md
.DS_Store
Thumbs.db
